<!--
  Generated template for the Group page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contacts
      <button ion-button icon-only (click)="searchBox()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>



</ion-header>


<ion-content padding>
  <ion-input type="text" [(ngModel)]="searchFriend"></ion-input>
  <ion-list>
    <ion-item *ngFor="let request of requests">{{request.request}}
      <button ionic-button icon-only (click)="acceptRequest()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let frd of searchFriendList">{{frd.name}}
      <button ionic-button icon-only (click)="addFriend(frd.name)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-list>
    <button *ngFor="let friend of friendlist" (click)="ChatPage()">{{friend.friend}}</button>
  </ion-list>


</ion-content>
